.projects-title {
  text-align: center;
}

.projects-container {
  margin-top: 10rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-card-container {
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
}
