.download-cv-button {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--white);
  width: 13rem;
  background-color: var(--primary-base);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.download-cv-button:hover {
  color: var(--white);
  background-color: var(--primary-tint);
}
