.footer-line {
  margin-top: 10rem;
  width: 90%;
  border: 1px solid var(--primary-base-softer);
}

.footer-text-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin: 10px 0;
  text-align: center;
  color: var(--primary-base-soft);
  font-size: var(--text-medium);
}
