.language-card {
  width: 25rem;
  height: 20rem;
  border: 2px solid var(--primary-base);
  border-radius: 5%;
  background: rgba(0, 0, 0, 0.275);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.language-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--primary-base);
}

.language-icon {
  margin-bottom: 25px;
  border-radius: 50%;
  border: 2px solid var(--primary-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-icon svg {
  margin: 1.5rem;
  width: 6rem;
  height: auto;
}

.language-icon path {
  fill: var(--lightgrey);
}

.language-name {
  font-size: var(--text-large);
}
