.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-base);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transition: 0.3s ease;
}

.social-icon-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 70%;
  padding: 2px;
}

.social-icon-container:hover {
  border: 2px solid var(--lightgrey);
  transform: scale(1.1);
  cursor: pointer;
}
