.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-base);
  border-radius: 50%;
  transition: 0.3s ease;
}

.social-icon:hover {
  transform: translateY(-3px);
  cursor: pointer;
}

.social-icon svg {
  width: 2.6rem;
  height: auto;
  margin: 1rem;
}

.social-icon path {
  fill: var(--white);
}
