.social-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--primary-base);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  transition: 0.3s ease;
}

.social-icon-container:hover {
  border: 2px solid var(--lightgrey);
  transform: scale(1.1);
  cursor: pointer;
  .social-icon svg {
    fill: var(--primary-tint);
  }
}

.social-icon-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.social-icon svg {
  fill: var(--primary-base);
  width: 100%;
  height: auto;
}
