:root {
  --fontfamily: "Segoe UI";
  --backcolor: rgb(29, 29, 29);
  --primarycolor: hsl(240, 100%, 59%);
  --primarycolorhover: hsl(240, 100%, 70%);
  --headerfontweight: 500;
  --pagefontweight: 400;
}

body {
  margin: 0;
  padding: 0 200px 0 200px;
  font-family: var(--fontfamily);
  background-color: var(--backcolor);
}
