:root {
  --fontfamily: "Segoe UI";
  --primarycolor: hsl(240, 100%, 59%);
  --primarycolorhover: hsl(240, 100%, 70%);
  --headerfontweight: 500;
  --pagefontweight: 400;
}

body {
  margin: 0;
  padding: 0 200px 0 200px;
  font-family: var(--fontfamily);
  background: url("../assets/background.gif");
}

html {
  scroll-behavior: smooth;
}
