.photo {
  display: flex;
  justify-content: end;
  padding-right: 200px;
  padding-top: 100px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  align-self: center;
  width: 410px;
  height: 430px;
  border-radius: 50%;
}

.border img {
  width: 380px;
  height: 400px;
  align-self: center;
  border-radius: 50%;
}
