.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 20px;
  padding: 20px 5%;
  padding-bottom: 150px;
  box-sizing: border-box;
  /* background-color: red; */
}

.header__title {
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.header__title:hover {
  text-shadow: 0 0 10px var(--primarycolor);
  color: lightgray;
  transform: scale(1.05);
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 35px;
  flex-wrap: wrap;
}

.header__menu__link {
  text-decoration: none;
  color: white;
  font-weight: var(--headerfontweight);
  font-size: 17px;
  transition: all 0.25s ease;
}

.header__menu__link:hover {
  color: var(--primarycolor);
}

#skills,
#projects,
#contact {
  scroll-margin-top: 200px;
}

@media (max-width: 930px) {
  .header__nav {
    padding-bottom: 50px;
  }
}

@media (max-width: 698px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    padding-bottom: 50px;
    /* background-color: red; */
  }

  .header__nav ul {
    margin: 0;
    padding: 0;
  }

  #skills,
  #projects,
  #contact {
    scroll-margin-top: 200px;
  }
}

@media (max-width: 455px) {
  .header__nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
    padding-bottom: 50px;
    /* background-color: red; */
  }

  .header__nav ul {
    margin: 0;
    padding: 0;
    gap: 5px;
    flex-direction: column;
    align-items: center;
  }

  #skills,
  #projects,
  #contact {
    scroll-margin-top: 200px;
  }
}
