.language-card-container-wrapper h1 {
  color: lightgrey;
  text-align: center;
  font-size: 36px;
  font-weight: var(--pagefontweight);
}

.language-card-container-wrapper {
  padding-bottom: 200px;
}

.language-card-container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  gap: 30px 50px;
}

@media (max-width: 965px) {
  .language-card-container-wrapper h1 {
    font-size: 30px;
  }

  .language-card-container {
    grid-template-columns: repeat(3, 200px);
  }
}

@media (max-width: 753px) {
  .language-card-container {
    grid-template-columns: repeat(2, 200px);
  }
}

@media (max-width: 492px) {
  .language-card-container-wrapper h1 {
    font-size: 25px;
  }

  .language-card-container {
    grid-template-columns: repeat(1, 200px);
  }
}
