.language-card-container-wrapper h1 {
  color: lightgrey;
  text-align: center;
  font-size: 36px;
  font-weight: var(--pagefontweight);
}

.language-card-container-wrapper {
  padding-bottom: 200px;
}

.language-card-container {
  /* background-color: red; */
  display: grid;
  grid-template-columns: repeat(3, 250px);
  justify-content: center;
  gap: 30px 50px;
}
