/* Follows the size of child card - adds outline */
.language-card-wrapper {
  background: linear-gradient(140deg, #cfcfcf, #000000, #cfcfcf);
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  padding: 1px;
  width: fit-content;
  height: fit-content;
}

/* Decides the size of the card */
.language-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#070720, hsl(240, 78%, 41%), #070720);
  border-radius: 1.2rem;
  width: 250px;
  height: 200px;
}

.language-card img.language-icon {
  width: 55px;
  padding: 10px;
  box-shadow: 0 0 5px hsl(240, 78%, 41%);
  background-color: white;
  border-radius: 50%;
}

.language-card h3.language-name {
  color: lightgrey;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.language-card p.language-description {
  color: lightgrey;
  padding-top: 15px;
  margin: 0;
  font-size: 17px;
  text-align: center;
}
