.title-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  /* background-color: red; */
}

.title-container {
  width: 35%;
  margin-right: 100px;
  /* background-color: orange; */
}

h1 {
  color: white;
  margin-top: 0;
  font-size: 35px;
  font-weight: var(--pagefontweight);
  margin-bottom: 20px;
  /* background-color: pink; */
}

h2 {
  color: lightgrey;
  margin: 0;
  font-size: 20px;
  font-weight: var(--pagefontweight);
}

p {
  padding-top: 10px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: var(--primarycolor);
  text-decoration: none;
}

a:hover {
  color: var(--primarycolorhover);
}

img {
  border: 2px solid white;
  box-shadow: 0 0 30px blue;
  height: 350px;
  width: 350px;
  border-radius: 30%;
  rotate: 3deg;
}
