:root {
  /* FONT SIZE */
  --text-sm: 1.2rem;
  --text-medium: 1.6rem;
  --text-large: 3rem;
  --text-paragraph: 2rem;
  --text-h2: 2.4rem;
  --text-h1: 3.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* FONT FAMILY */
  --font-family: "DM Sans", "Inter", sans-serif;

  /* COLORS */
  --primary-base: rgb(147, 0, 0);
  --primary-base-soft: rgba(147, 0, 0, 0.397);
  --primary-tint: hsl(0, 100%, 37%);
  --white: #ffffff;
  --lightgrey: #e0e0e0;
  --darkgrey: #c9c9c99e;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  font-weight: var(--font-weight-normal);
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
  color: var(--white);
}
h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
p {
  font-size: var(--text-paragraph);
  color: var(--white);
}
a {
  color: var(--primary-base);
  text-decoration: none;
  transition: 0.3s ease;
}
a:hover {
  color: var(--primary-tint);
}
button {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--white);
  width: 13rem;
  background-color: var(--primary-base);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}
button:hover {
  background-color: var(--primary-tint);
}
