@import url("https://fonts.googleapis.com/css2?family=Badeen+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

:root {
  /* FONT SIZE */
  --text-sm: 1.2rem;
  --text-medium: 1.6rem;
  --text-large: 3rem;
  --text-paragraph: 2rem;
  --text-h2: 2.4rem;
  --text-h1: 3.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 600;

  /* FONT FAMILY */
  --font-family: "DM Sans", "Inter", sans-serif;

  /* COLORS */
  --primary-base: rgb(147, 0, 0);
  --primary-base-soft: rgba(147, 0, 0, 0.762);
  --primary-base-softer: rgba(147, 0, 0, 0.397);
  --primary-tint: hsl(0, 100%, 37%);
  --white: #ffffff;
  --lightgrey: #e0e0e0;
  --darkgrey: #666666;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-tint);
}

#about {
  scroll-margin-top: 100px;
}

#skills {
  scroll-margin-top: 200px;
}

/* #projects {
  scroll-margin-top: 300px;
} */

body {
  font-weight: var(--font-weight-normal);

  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  /* background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 100px 100px; */
}

h1,
h2 {
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p:hover {
  cursor: default;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

p {
  font-size: var(--text-paragraph);
  color: var(--white);
}

a {
  color: var(--primary-base);
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  color: var(--primary-tint);
}

button {
  font-size: var(--text-medium);
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--white);
  width: 13rem;
  background-color: var(--primary-base);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-tint);
}
