@import url("https://fonts.googleapis.com/css2?family=Badeen+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* FONT SIZE */
  --text-sm: 1.2rem;
  --text-medium: 1.6rem;
  --text-large: 3rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* FONT WEIGHT */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* FONT FAMILY */
  --font-family: "Inter", sans-serif;

  /* COLORS */

  --primary-base: rgb(147, 0, 0);
  --primary-tint: hsl(0, 100%, 37%);
  --white: #ffffff;
  --lightgrey: #e0e0e0;
  --black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

body {
  font-weight: var(--font-weight-normal);

  background-color: #111111;
  background-image: linear-gradient(
    32deg,
    rgba(8, 8, 8, 0.74) 30px,
    transparent
  );
  background-size: 100px 100px;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  color: var(--white);
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

h3 {
  font-size: var(--text-h3);
}

h4 {
  font-size: var(--text-h4);
}

h5 {
  font-size: var(--text-h5);
}

p {
  font-size: var(--text-paragraph);
  color: var(--white);
}

a {
  color: var(--primary-base);
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  color: var(--primary-tint);
}

.small-text {
  font-size: var(--text-sm);
}
