@media (min-width: 2500px) {
  html {
    font-size: 100%;
  }
}

@media (min-width: 2000px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 1900px) {
  div.language-card {
    width: 27rem;
    height: 22rem;
  }
}

@media (max-width: 1650px) {
  div.body-container {
    width: 85%;
  }
}

@media (max-width: 1450px) {
  div.body-container {
    width: 80%;
  }
  div.language-card {
    width: 23rem;
    height: 18rem;
  }
}

@media (max-width: 1330px) {
  div.body-container {
    width: 90%;
  }
  div.language-card {
    width: 21rem;
    height: 16rem;
  }
  p.language-name {
    font-size: 2.4rem;
  }
  div.language-icon {
    width: 7rem;
  }
}

@media (max-width: 1100px) {
  div.language-card-container {
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 2rem;
  }
  div.language-card {
    width: 25rem;
    height: 20rem;
  }
  div.language-icon {
    width: 9rem;
  }
  p.language-name {
    font-size: var(--text-large);
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 55%;
  }
  img.profile-logo {
    width: 30rem;
    height: 30rem;
  }
  div.about-icon-container {
    display: none;
  }
  div.profile-picture-icon-container {
    display: flex;
  }
}

@media (max-width: 760px) {
  html {
    font-size: 45%;
  }
  img.profile-logo {
    width: 25rem;
    height: 25rem;
  }
  div.about-container {
    margin-right: 5rem;
  }
}

@media (max-width: 550px) {
  form.form-container {
    width: 80%;
  }
  a.navigation-links {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  div.navigation-container {
    flex-direction: column;
    gap: 2rem;
  }
  div.hero-container {
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }
  div.profile-picture-icon-container {
    display: none;
  }
  div.about-container {
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
  }
  div.about-icon-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  div.language-container {
    margin-top: 5rem;
  }
  div.language-card {
    width: 20rem;
    height: 17rem;
    padding: 1rem;
  }
  div.language-icon {
    width: 6.5rem;
  }
  div.contact-container {
    margin-top: 5rem;
  }
  hr.footer-line {
    margin-top: 5rem;
  }
  div.arrowUpIcon {
    display: none;
  }
}

@media (max-width: 350px) {
  ul.navigation-links-container {
    gap: 2rem;
  }
  div.language-card {
    width: 18rem;
    height: 13rem;
  }
  div.language-icon {
    width: 6rem;
    margin-bottom: 1rem;
  }
  p.language-name {
    font-size: var(--text-medium);
  }
}

@media (pointer: coarse) {
  body {
    background-attachment: scroll;
  }
}
